[Unit]
Description=services inviting

[Service]
User=q
Type=simple
WorkingDirectory=/home/q/services/backend/python/inviting
ExecStart=/usr/bin/python3 /home/q/services/backend/python/inviting/main.py
Restart=always

[Install]
WantedBy=multi-user.target
